[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose2 = "==0.11.0"
asynctest = "==0.13.0"

[packages]
psycopg = "*"
pyquery = "==1.4.3"
psycopg-c = {version = "*", sys_platform = "== 'linux'"}
pyTelegramBotAPI = {git = "https://github.com/eternnoir/pyTelegramBotAPI.git"}
Pillow = "==9.3.0"
termcolor = "*"
pendulum = "*"
aiohttp = "*"
psycopg-binary = "*"

[requires]
python_version = "3.10"
