[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asynctest = "==0.13.0"
nose2 = "==0.9.1"
psycopg2-binary = "==2.8.3"
pyquery = "==1.4.0"
pytz = "==2019.2"
telepot = "==12.7"
Pillow = "==7.1.0"

[requires]
python_version = "3.8"
